attr==0.3.1
attrs==21.2.0
click==8.0.1
coremltools==4.1
Flask==2.0.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
mpmath==1.2.1
numpy==1.19.5
packaging==20.9
protobuf==3.17.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.17.1
pytz==2021.1
threadpoolctl==2.1.0
tqdm==4.61.0
Werkzeug==2.0.1
